<launch>
	<!-- <include file="/home/rihab/catkin_ws/src/vrpn_client_ros/launch/sample.launch" /> -->
	<rosparam command="load" file="/home/rihab/catkin_ws/src/turtlebotcommander/launch/tbcomm_params.yaml" />
	<group ns="tb0">
		<node pkg="turtlebotcommander" type="vrpnagentinterface_node" name="vrpnagentinterface"/>
		<node pkg="turtlebotcommander" type="turtlebotcommander_node" name="turtlebotcommander"/>
	</group>
	<group ns="tb1">
		<node pkg="turtlebotcommander" type="vrpnagentinterface_node" name="vrpnagentinterface"/>
		<node pkg="turtlebotcommander" type="turtlebotcommander_node" name="turtlebotcommander"/>
	</group>
	<group ns="tb2">
		<node pkg="turtlebotcommander" type="vrpnagentinterface_node" name="vrpnagentinterface"/>
		<node pkg="turtlebotcommander" type="turtlebotcommander_node" name="turtlebotcommander"/>
	</group>
	<group ns="tb3">
		<node pkg="turtlebotcommander" type="vrpnagentinterface_node" name="vrpnagentinterface"/>
		<node pkg="turtlebotcommander" type="turtlebotcommander_node" name="turtlebotcommander"/>
	</group>
	<group ns="tb4">
		<node pkg="turtlebotcommander" type="vrpnagentinterface_node" name="vrpnagentinterface"/>
		<node pkg="turtlebotcommander" type="turtlebotcommander_node" name="turtlebotcommander"/>
	</group>
</launch>
